/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Hanken Grotesk";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* custom properties */
:root {
  /* Primary */
  --Reaction-red: hsl(0, 100%, 67%);
  --Memory-yellow: hsl(39, 100%, 56%);
  --Verbal-green: hsl(166, 100%, 37%);
  --Visual-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --Slate-blueBG: hsl(252, 100%, 67%);
  --Royal-blueBG: hsl(241, 81%, 54%);
  --Violet-blueCIR: hsla(256, 72%, 46%, 1);
  --Persian-blueCIR: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
/* visual */
.visual {
  background-color: hsl(47, 100%, 50%);
  border: 2px solid black;
}
/* basic style */
.card {
  /* despues pasar este width con media querys a mobile */
  width: 23.43rem;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* PRIMERA SECCION */
.card__section1 {
  background-image: linear-gradient(var(--Slate-blueBG), var(--Royal-blueBG));
  color: var(--White);
  height: 19rem;
  border-radius: 0 0 2rem 2rem;
}
.card__section1--title {
  color: var(--Light-lavender);
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
}
.card__section1--circleNumber {
  background-image: linear-gradient(
    var(--Violet-blueCIR),
    var(--Persian-blueCIR)
  );
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  justify-content: center;
}
.card__section1--circleNumber-result {
  font-size: 2.5rem;
  font-weight: 800;
}
.card__section1--circleNumber-resultOf {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsla(241, 100%, 89%, 0.6);
}
.card__section1--title2 {
  font-size: 1.15rem;
  margin-top: 1rem;
}
.card__section1--paragraph {
  width: 70%;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: hsla(241, 100%, 89%, 0.8);
}
/* SEGUNDA SECCION */
.card__section2 {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
.card__section2--title {
  display: flex;
  align-items: flex-start;
  color: var(--Dark-gray-blue);
  margin: 1rem 0 0.5rem 0;
  font-size: 1rem;
}
/* secciones 1 a 1 */
.containerFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__section--item {
  padding: 0.8rem;
  margin: 0.4rem 0;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 8px;
}
.card__section2--reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
}
.reaction {
  color: hsl(0, 100%, 67%);
}
.card__section2--memory {
  background-color: hsl(39, 100%, 56%, 0.05);
}
.memory {
  color: hsl(39, 100%, 56%);
}
.card__section2--verbal {
  background-color: hsl(166, 100%, 37%, 0.05);
}
.verbal {
  color: hsl(166, 100%, 37%);
}
.card__section2--visual {
  background-color: hsl(234, 85%, 45%, 0.05);
}
.visual1 {
  color: hsl(234, 85%, 45%);
}
.separacion {
  padding-right: 0.5rem;
}
.section2__btn {
  border-radius: 1.5rem;
  margin-top: 1rem;
  height: 3rem;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-weight: 800;
  border: 0;
}
.general {
  color: hsla(224, 30%, 27%, 0.5);
}
/* media query */
@media screen and (min-width: 750px) {
  .card {
    height: 26rem;
    width: 38rem;
    display: flex;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.244);
    border-radius: 2rem;
  }
  .card__section1 {
    width: 19rem;
    height: 100%;
    border-radius: 2rem 2rem 2rem 2rem;
    justify-content: center;
  }
  .card__section2 {
    justify-content: center;
    align-content: center;
    margin: 0 1rem;
    width: 43%;
  }
  .card__section1--circleNumber {
    width: 11rem;
    height: 11rem;
  }
  .card__section1--circleNumber-result {
    font-size: 3.5rem;
  }
  .card__section1--circleNumber-resultOf {
    font-size: 1rem;
  }
}
